provincias{
    padding: 10px;
    border-color:black;
    border-width: 2px;
    border-style: solid;
    background-color: goldenrod;
    margin: 5px;
   
}
provincia{
    
    background-color: lightblue;
    display: grid;
}
extensio{
    margin-left: 15px;
}
nom{
    
    font-weight: bold;
    color: red;
    
}

poblacio,densidad,num_municipis{
    display: none;
}